autopep8==2.0.4
colorama==0.4.6
contourpy==1.2.0
coverage==7.3.2
cycler==0.12.1
fonttools==4.44.0
kiwisolver==1.4.5
matplotlib==3.8.1
mypy==1.6.1
mypy-extensions==1.0.0
numpy==1.26.1
packaging==23.2
Pillow==10.1.0
pycodestyle==2.11.1
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
tomli==2.0.1
tqdm==4.66.1
types-Pillow==10.1.0.1
types-tqdm==4.66.0.4
typing_extensions==4.8.0
