name: Lint

on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  python:
    name: Python lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install -r dev-requirements.txt

      - name: Run autopep8
        run: autopep8 --exit-code --diff -aaar .

      - name: Run mypy
        run: mypy .

      - name: Run flake8
        run: flake8 .
